body {
    margin: 0;
    background-color: #000011;
    color: white;
}

header {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
}

footer {
    position: relative;
    z-index: 2;
}

header, footer {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

a {
    color: #ffffff;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 10px;
}

#globe {
    margin-top: 10px;
    position: fixed;
    z-index: 0;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
}

#introVideo {
    /*margin-top: -55px;*/
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#description {
    width: 400px;
    height: 800px;
    position: relative;
    z-index: 1;
}

#column-right {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

#videoplayer, #roadmap, #survey {
    width: 400px;
    height: 300px;
}

#description, #videoplayer, #roadmap, #survey {
    background-color: #4877d6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    margin: 10px;
}